In [4]:
import os, re
import pandas as pd
import pdfplumber

In [6]:
pdf_dir = './NHF'
pdf_list = os.listdir(pdf_dir)
pdf_list[1]

'NHF Daily Metal Bulletin 20220331.pdf'

In [10]:
pdf = pdfplumber.open( pdf_dir +'/'+ pdf_list[1])
separator_word = ["Base Metals","Base Metals","4. LME Stocks","5. SHFE 재고", "6. SHFE/ COMEX", "7. SHFE-LME SPREAD","1. 주요시장 DATA","1. Spot Precious Metals","2. COMEX Futures","3. TOCOM Futures","4. SHFE Futures","Comments"]

In [35]:
page = pdf.pages[0].extract_text()
text_para = page.replace(')\n', ')\n\n')
text_list = str(text_para).split('\n')
print(text_list[8:15])

['전기동(Cash) 10,383.00 10,366.01 10,419.51 10,280.51 10,381.01 -1.99', '전기동(3M) 10,388.00 10,371.50 10,425.00 10,286.00 10,386.50 -1.50 -9.49 -5.49 255,905 1,368', '알루미늄(Cash) 3,538.00 3,532.11 3,600.61 3,467.11 3,483.11 -54.89', '알루미늄(3M) 3,550.50 3,540.50 3,609.00 3,475.50 3,491.50 -59.00 -12.39 -8.39 609,012 -3,396', '아연 4,178.00 4,177.00 4,250.00 4,113.00 4,160.00 -18.00 58.00 60.00 235,758 2,839', '납 (연) 2,415.00 2,404.00 2,434.00 2,390.50 2,394.50 -20.50 3.50 5.50 111,715 720', '니켈 32,985.00 32,495.00 33,745.00 32,010.00 32,110.00 -875.00 -19.00 -17.00 189,278 235']

In [36]:
col = ['전일종가', '[금일]시가','[금일]고가','[금일]저가','[금일]종가','변동폭','[Cash-3M]BID','[Cash-3M]ASK','[미결제약정]전일','[미결제약정]변동폭']
table = pd.DataFrame(columns=col)

In [37]:
table

Empty DataFrame
Columns: [전일종가, [금일]시가, [금일]고가, [금일]저가, [금일]종가, 변동폭, [Cash-3M]BID, [Cash-3M]ASK, [미결제약정]전일, [미결제약정]변동폭]
Index: []

In [39]:
pd.DataFrame(text_list[8:15])

                                                   0
0  전기동(Cash) 10,383.00 10,366.01 10,419.51 10,280...
1  전기동(3M) 10,388.00 10,371.50 10,425.00 10,286.0...
2  알루미늄(Cash) 3,538.00 3,532.11 3,600.61 3,467.11...
3  알루미늄(3M) 3,550.50 3,540.50 3,609.00 3,475.50 3...
4  아연 4,178.00 4,177.00 4,250.00 4,113.00 4,160.0...
5  납 (연) 2,415.00 2,404.00 2,434.00 2,390.50 2,39...
6  니켈 32,985.00 32,495.00 33,745.00 32,010.00 32,...

In [40]:
text_para.split('\n')

['Daily Metal Bulletin    ',
 '2022-03-31',
 'Consulting/ Dealing Room: (02) 3774-0311 ~ 0321             FAX: (02) 761-2264 / 2265 글로벌상품영업팀',
 'Base Metals',
 '전일 금           일 Cash - 3M 미결제약정(O/I)',
 '',
 '변동폭',
 '종가 시가 고가(B) 저가(A) 종가(A) BID ASK 전일  변동폭',
 '전기동(Cash) 10,383.00 10,366.01 10,419.51 10,280.51 10,381.01 -1.99',
 '전기동(3M) 10,388.00 10,371.50 10,425.00 10,286.00 10,386.50 -1.50 -9.49 -5.49 255,905 1,368',
 '알루미늄(Cash) 3,538.00 3,532.11 3,600.61 3,467.11 3,483.11 -54.89',
 '알루미늄(3M) 3,550.50 3,540.50 3,609.00 3,475.50 3,491.50 -59.00 -12.39 -8.39 609,012 -3,396',
 '아연 4,178.00 4,177.00 4,250.00 4,113.00 4,160.00 -18.00 58.00 60.00 235,758 2,839',
 '납 (연) 2,415.00 2,404.00 2,434.00 2,390.50 2,394.50 -20.50 3.50 5.50 111,715 720',
 '니켈 32,985.00 32,495.00 33,745.00 32,010.00 32,110.00 -875.00 -19.00 -17.00 189,278 235',
 '주석 42,460.00 42,430.00 42,950.00 42,400.00 42,910.00 450.00 945.00 955.00 14,158 -93',
 '* Base Metal 종가는 COMEX 종료시점 기준 (LONDON 18시00분)',
 '',
 '2. LME Official Settlement Prices (AM 2nd Ring) 3. LME Evening Valuation',
 '금    일 당월평균 전월평균 LME 정산가 (LONDON 17시00분)',
 '',
 'Cash 3M Cash Cash 3M Cash 3M Apr May Jun',
 '전기동 10337.00 10335.00 10237.59 9941.35 9895.20 10367.51 10375.00 10372.50 10374.50 10377.50',
 '알루미늄 3503.00 3518.00 3537.85 3260.83 3224.18 3480.61 3491.00 3483.61 3487.11 3491.50',
 '아연 4260.00 4152.00 3974.30 3644.23 3628.55 4232.50 4173.50 4212.50 4202.50 4188.50',
 '납 (연) 2433.00 2427.00 2359.48 2299.90 2290.58 2420.50 2416.00 2422.00 2422.00 2422.50',
 '니켈 33400.00 33350.00 31860.65 24178.00 23735.50 32093.00 32107.00 32115.00 32095.00 32100.00',
 '주석 44200.00 42900.00 44248.91 44117.75 43819.50 43860.00 42910.00 43760.00 43510.00 43135.00',
 '      LME BASE METALS PRICE',
 '1']