In [2]:
import os, re
import pandas as pd
import pdfplumber

In [147]:
pdf_dir = './NHF'
pdf_list = os.listdir(pdf_dir)
pdf_list[1]

'NHF Daily Metal Bulletin 20220331.pdf'

In [148]:
pdf = pdfplumber.open( pdf_dir +'/'+ pdf_list[1])
separator_word = ["Base Metals","Base Metals","4. LME Stocks","5. SHFE 재고", "6. SHFE/ COMEX", "7. SHFE-LME SPREAD","1. 주요시장 DATA","1. Spot Precious Metals","2. COMEX Futures","3. TOCOM Futures","4. SHFE Futures","Comments"]

In [149]:
page0 = pdf.pages[0].extract_text()
page1 = pdf.pages[1].extract_text()
page2 = pdf.pages[2].extract_text()
text_list0 = str(page0).split('\n')
text_list1 = str(page1).split('\n')
text_list2 = str(page2).split('\n')

In [96]:
print(text_list1[21:29])
lll = text_list1[21].split(' ')
" ".join(lll[0:2])

['CU MAY2 73,670 73710 73870 73280 73540 73540 11598.09 -130.00 -20.48 71439', 'AL MAY2 22,680 22970 23030 22620 22800 22800 3595.82 120.00 18.90 209147', 'ZN MAY2 26,565 26800 27055 26720 26865 26865 4236.91 300.00 47.26 142670', 'PB MAY2 15,635 15680 15860 15680 15805 15805 2492.63 170.00 26.78 58762', 'NI SEP2 215,230 220220 222350 209450 216100 216100 34081.41 870.00 137.05 2312', 'SN MAY2 345,950 347320 347790 340300 344010 344010 54254.26 -1940.00 -305.61 37844', '    COMEX', 'CU MAY22 4.7505 4.7480 4.7690 4.7050 4.7500 4.7500 10471.95 -0.0005 -1.10 33,782']

'CU MAY2'

In [68]:
result = []
col = ['원재료명','전일종가', '[금일]시가','[금일]고가','[금일]저가','[금일]종가','변동폭','[Cash-3M]BID','[Cash-3M]ASK','[미결제약정]전일','[미결제약정]변동폭']

for i in text_list0[7:15] :
    tmp = i.split(' ')
    if '(연)' in i :
        tmp.pop(1)
        # tmp = tmp[:]
    result = result+[tmp]    
base_metals = pd.DataFrame(result)
base_metals.columns = col
base_metals

,원재료명,전일종가,[금일]시가,[금일]고가,[금일]저가,[금일]종가,변동폭,[Cash-3M]BID,[Cash-3M]ASK,[미결제약정]전일,[미결제약정]변동폭
0,전기동(Cash),"10,383.00","10,366.01","10,419.51","10,280.51","10,381.01",-1.99,None,None,None,None
1,전기동(3M),"10,388.00","10,371.50","10,425.00","10,286.00","10,386.50",-1.50,-9.49,-5.49,"255,905","1,368"
2,알루미늄(Cash),"3,538.00","3,532.11","3,600.61","3,467.11","3,483.11",-54.89,None,None,None,None
3,알루미늄(3M),"3,550.50","3,540.50","3,609.00","3,475.50","3,491.50",-59.00,-12.39,-8.39,"609,012","-3,396"
4,아연,"4,178.00","4,177.00","4,250.00","4,113.00","4,160.00",-18.00,58.00,60.00,"235,758","2,839"
5,납,"2,415.00","2,404.00","2,434.00","2,390.50","2,394.50",-20.50,3.50,5.50,"111,715",720
6,니켈,"32,985.00","32,495.00","33,745.00","32,010.00","32,110.00",-875.00,-19.00,-17.00,"189,278",235
7,주석,"42,460.00","42,430.00","42,950.00","42,400.00","42,910.00",450.00,945.00,955.00,"14,158",-93

In [74]:
result = []
col = ['원재료명','[금일]Cash','[금일]3M','[당월평균]Cash','[전월평균]Cash','[전월평균]3M','[LME정산가]Cash','[LME정산가]3M','[LME정산가]+0M','[LME정산가]+1M','[LME정산가]+2M']

for i in text_list0[19:25] :
    tmp = i.split(' ')
    if '(연)' in i :
        tmp.pop(1)
        # tmp = tmp[:]
    result = result+[tmp]    
LME_table = pd.DataFrame(result)
LME_table.columns = col
LME_table

,원재료명,[금일]Cash,[금일]3M,[당월평균]Cash,[전월평균]Cash,[전월평균]3M,[LME정산가]Cash,[LME정산가]3M,[LME정산가]+0M,[LME정산가]+1M,[LME정산가]+2M
0,전기동,10337.00,10335.00,10237.59,9941.35,9895.20,10367.51,10375.00,10372.50,10374.50,10377.50
1,알루미늄,3503.00,3518.00,3537.85,3260.83,3224.18,3480.61,3491.00,3483.61,3487.11,3491.50
2,아연,4260.00,4152.00,3974.30,3644.23,3628.55,4232.50,4173.50,4212.50,4202.50,4188.50
3,납,2433.00,2427.00,2359.48,2299.90,2290.58,2420.50,2416.00,2422.00,2422.00,2422.50
4,니켈,33400.00,33350.00,31860.65,24178.00,23735.50,32093.00,32107.00,32115.00,32095.00,32100.00
5,주석,44200.00,42900.00,44248.91,44117.75,43819.50,43860.00,42910.00,43760.00,43510.00,43135.00

In [171]:
result = []
col = ['원재료명','전일최종재고','반입(IN)','반출(OUT)','금일최종재고','변동폭','ON_WRNT','CANCELLED_WRAN','CW변동폭']

for i in text_list1[4:10] :
    tmp = i.split(' ')
    if '(연)' in i :
        tmp.pop(1)
        # tmp = tmp[:]
    result = result+[tmp]    
LME_Stock = pd.DataFrame(result)
LME_Stock.columns = col
# idx = list(LME_Stock.iloc[:,0])
LME_Stock = LME_Stock.set_index(LME_Stock.iloc[:,0])
LME_Stock.iloc[:,1:]

      전일최종재고 반입(IN) 반출(OUT)  금일최종재고    변동폭 ON_WRNT CANCELLED_WRAN CW변동폭
원재료명
전기동    87925   3525      50   91400   3475   66200          25200  5100
알루미늄  654475      0    7625  646850  -7625  435425         211425     0
아연    142100      0     175  141925   -175  105100          36825  -175
납      38725      0       0   38725      0   34425           4300     0
니켈     72540    192     162   72570     30   55584          16986  -162
주석      2110      0       0    2110      0    1490            620    70

In [174]:
result = []
col = ['SHFE/COMEX','전일_SETTLE','시가','고가','저가','종가','금일_SETTLE','($/Ton)','변동폭','(S/Ton)','거래량']

for i in text_list1[21:29] :
    tmp = i.split(' ')
    tmp[0] = " ".join(tmp[0:2])
    tmp.pop(1)
    result = result+[tmp]    
shfe_comex = pd.DataFrame(result)
shfe_comex.columns = col
shfe_comex = shfe_comex.drop(6, axis=0).reset_index(drop=True)
shfe_comex = shfe_comex.set_index(shfe_comex.iloc[:,0])
shfe_comex = shfe_comex.iloc[:,1:]
shfe_comex

,전일_SETTLE,시가,고가,저가,종가,금일_SETTLE,($/Ton),변동폭,(S/Ton),거래량
SHFE/COMEX,,,,,,,,,,
CU MAY2,"73,670",73710,73870,73280,73540,73540,11598.09,-130.00,-20.48,71439
AL MAY2,"22,680",22970,23030,22620,22800,22800,3595.82,120.00,18.90,209147
ZN MAY2,"26,565",26800,27055,26720,26865,26865,4236.91,300.00,47.26,142670
PB MAY2,"15,635",15680,15860,15680,15805,15805,2492.63,170.00,26.78,58762
NI SEP2,"215,230",220220,222350,209450,216100,216100,34081.41,870.00,137.05,2312
SN MAY2,"345,950",347320,347790,340300,344010,344010,54254.26,-1940.00,-305.61,37844
CU MAY22,4.7505,4.7480,4.7690,4.7050,4.7500,4.7500,10471.95,-0.0005,-1.10,"33,782"

In [209]:
shfe_comex_dic = shfe_comex.to_dict()
LME_Stock_dic = LME_Stock.to_dict()
fin = {'shfe_comex_dic' : shfe_comex_dic, 'LME_Stock_dic' : LME_Stock_dic}
fin['shfe_comex_dic']['전일_SETTLE']

{'CU MAY2': '73,670',
 'AL MAY2': '22,680',
 'ZN MAY2': '26,565',
 'PB MAY2': '15,635',
 'NI SEP2': '215,230',
 'SN MAY2': '345,950',
 'CU MAY22': '4.7505'}

In [121]:
import os
import pandas as pd
import pdfplumber

pdf_dir = './NHF'
pdf_list = os.listdir(pdf_dir)
pdf = pdfplumber.open( pdf_dir +'/'+ pdf_list[1])

80717

In [127]:
pdf = pdfplumber.open('D:/dev/git/readpdf/NHF/NHF Daily Metal Bulletin 20220404.pdf')
pdf.pages[0]

In [10]:
import os
import pandas as pd
import pdfplumber

def NH_future_Daily_Metal_Bulletin(pFile):
    global base_metals
    global LME_table
    global LME_Stock
    global shfe_comex
    
    pdf = pdfplumber.open(pFile)
    for pages in range(len(pdf.pages)):
        if pages == '<Page:1>':
            text_list = str(pages).split('\n')
            
            # base_metals
            result = []
            col = ['원재료명','전일종가', '[금일]시가','[금일]고가','[금일]저가','[금일]종가','변동폭','[Cash-3M]BID','[Cash-3M]ASK','[미결제약정]전일','[미결제약정]변동폭']

            for i in text_list[7:15] :
                tmp = i.split(' ')
                if '(연)' in i :
                    tmp.pop(1)
                else : 
                    pass
                result = result+[tmp]    
            base_metals = pd.DataFrame(result)
            base_metals.columns = col
            base_metals = base_metals.set_index(base_metals.iloc[:,0])
            base_metals = base_metals.iloc[:,1:]
            base_metals = base_metals.to_dict()

            #  LME Official Settlement Price, LME Evening Valuation
            result = []
            col = ['원재료명','[금일]Cash','[금일]3M','[당월평균]Cash','[전월평균]Cash','[전월평균]3M','[LME정산가]Cash','[LME정산가]3M','[LME정산가]+0M','[LME정산가]+1M','[LME정산가]+2M']
            
            for i in text_list[19:25] :
                tmp = i.split(' ')
                if '(연)' in i :
                    tmp.pop(1)
                    # tmp = tmp[:]
                result = result+[tmp]    
            LME_table = pd.DataFrame(result)
            LME_table.columns = col
            LME_table = LME_table.set_index(LME_table.iloc[:,0])
            LME_table = LME_table.iloc[:,1:]
            LME_table = LME_table.to_dict()
            
        elif pages == '<Page:2>':
            text_list = str(pages).split('\n')

            #  LME Stocks
            result = []
            col = ['원재료명','전일최종재고','반입(IN)','반출(OUT)','금일최종재고','변동폭','ON_WRNT','CANCELLED_WRAN','CW변동폭']

            for i in text_list[4:10] :
                tmp = i.split(' ')
                if '(연)' in i :
                    tmp.pop(1)
                    # tmp = tmp[:]
                result = result+[tmp]    
            LME_Stock = pd.DataFrame(result)
            LME_Stock.columns = col
            LME_Stock = LME_Stock.reset_index(LME_Stock.iloc[:,0])
            LME_Stock = LME_Stock.iloc[:,2:]
            LME_Stock = LME_Stock.to_dict()

            
            # SHFE/COMEX
            result = []
            col = ['SHFE/COMEX','전일_SETTLE','시가','고가','저가','종가','금일_SETTLE','($/Ton)','변동폭','(S/Ton)','거래량']

            for i in text_list[21:29] :
                tmp = i.split(' ')
                tmp[0] = " ".join(tmp[0:2])
                tmp.pop(1)
                result = result+[tmp]    
            shfe_comex = pd.DataFrame(result)
            shfe_comex.columns = col
            shfe_comex = shfe_comex.drop(6, axis=0).reset_index(drop=True)
            shfe_comex = shfe_comex.set_index(shfe_comex.iloc[:,0])
            shfe_comex = shfe_comex.iloc[:,2:]
            shfe_comex = shfe_comex.to_dict()

        else :
            pass
    
    result = {
        'base_metals': base_metals, 
        'LME_table':LME_table, 
        'LME_Stock':LME_Stock, 
        'shfe_comex':shfe_comex}
    print(result.keys())
    
    return result

In [11]:
Daily_Metal_Bulletin = NH_future_Daily_Metal_Bulletin('D:/dev/git/readpdf/NHF/NHF Daily Metal Bulletin 20220405.pdf')

NameError: name 'base_metals' is not defined

In [277]:
Daily_Metal_Bulletin['LME_Stock']

      원재료명  전일최종재고 반입(IN) 반출(OUT)  금일최종재고    변동폭 ON_WRNT CANCELLED_WRAN CW변동폭
원재료명
전기동    전기동   87925   3525      50   91400   3475   66200          25200  5100
알루미늄  알루미늄  654475      0    7625  646850  -7625  435425         211425     0
아연      아연  142100      0     175  141925   -175  105100          36825  -175
납        납   38725      0       0   38725      0   34425           4300     0
니켈      니켈   72540    192     162   72570     30   55584          16986  -162
주석      주석    2110      0       0    2110      0    1490            620    70